:root {
    --cor-tema: rgb(7,7,114);
    --cor-tema-claro: rgb(27,79,169);
    --cor-primaria: rgb(10,99,167);
    --cor-secundaria: rgb(17,131,17);
    --cor-terciaria: rgb(176,22,22);
    --cor-amarelo: rgb(220,204,26);
  
    --cor-preta: #000;
    --cor-branca: #FFF;
    --cor-cinza-claro: #EEE;
    --cor-cinza-escuro: #222;
    --cor-cinza-medio: rgba(68, 68, 68, 0.747);
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--cor-cinza-claro);
  }
  
  .full-width{width: 100%;}
  .full-height{height: 100vh;}
  
  /* FLEX */
  .flex{  display: flex;}
  .horizontal{flex-direction: row;}
  .vertical{flex-direction: column;}
  
  .flex-1{flex: 1;}
  .flex-2{flex: 2;}
  .flex-3{flex: 3;}
  .flex-4{flex: 4;}
  .flex-5{flex: 5;}
  .flex-6{flex: 6;}
  .flex-7{flex: 7;}
  .flex-8{flex: 8;}
  
  .flex-start{
    justify-content: flex-start;
    align-items: center;
  }
  .flex-end{
    justify-content: flex-end;
    align-items: center;
  }
  .flex-center{
    justify-content: center;
    align-items: center;
  }

  /* COMPONENTS */

  .Header{
    background-color: var(--cor-tema-claro);
    margin-left: -20px;
    z-index: 100;
    padding: 10px;
    height: 20px;
  }
  .Header a{
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }
  .Header span{
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }

  .Menu{
    background-color: var(--cor-tema);
    width: 50px;
    margin-right: 20px;
    box-shadow: 0 0 5px #111;
    margin-top: -16px;
  }
  .menu-open{
    width: 180px;
  }
  
  .Menu a {
    color: var(--cor-branca);
    text-decoration: none;
  }
  .item-top{
    padding: 10px 10px 0 10px;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--cor-branca);
  }
  
  
  
  .menu-item{
    height: 50px;
    }
    .menu-item:hover, .menu-item-active{
      background-color: var(--cor-tema-claro);
    }
    
    .menu-item i {
      font-size: 1.2rem;
    }
    

  .Login .Card{
    width: 95%;
    max-width: 450px;
  }
  .Login h1{
    font-size: 3rem;
    color: rgb(20,3,61);
    margin-bottom: 0;
  }
  .Recuperar-Senha h1{
    font-size: 3rem;
    color: rgb(20,3,61);
    margin-bottom: 0;
  }
  .Resetar-Senha h1{
    font-size: 3rem;
    color: rgb(20,3,61);
    margin-bottom: 0;
  }
  .Login a {
    text-decoration: none;
    color: var(--cor-cinza-medio);
  }

  .Card{
    margin: 40px 20px;
    padding: 30px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 5px #7777;
    background-color: var(--cor-branca);
  }

  .Input-Simples label{
    margin: 5px 0 2px 0;
    font-weight: bold;
  }
  .Input-Simples input, textarea{
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #cccc;
    font-size: 0.95rem;
  }

  .small-danger{
    color: red;
    font-size: 12px
  }
    
  .button{
    font-size: 1rem;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #aaaa;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }
 
  .button-success{
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
    border: 0;
  }
   .button-danger{
     background-color: var(--cor-terciaria);
     color: var(--cor-branca);
     border: 0;
   }
   .button-warning{
    background-color: var(--cor-amarelo);
    color: var(--cor-preta);
    border: 0;
  }
  

  .alert{
    width: calc(100% -20px);
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--cor-cinza-medio);
    background-color: var(--cor-cinza-claro);
    color: var(--cor-cinza-escuro);
    font-size: 0.9rem;
  }
  .alert-danger{
    border: 2px solid var(--cor-terciaria);
    background-color: #f3a6a6;
    color: #800909
  }
  .alert-success{
    border: 2px solid var(--cor-secundaria);
    background-color: #bff3ba;
    color: #175c11
  }
